PORT=3000
NODE_ENV=development
CRON_SCHEDULE=* * * * *        # cada minuto
LOG_LEVEL=info

DB_PATH=database/db.sqlite

SQL_SRV_PORT=
SQL_SRV_HOST=
SQL_SRV_DATABASE=
SQL_SRV_USERNAME=
SQL_SRV_PASSWORD=

# Dolar API
# More info https://dolarapi.com/docs/venezuela/
DOLAR_API_URL="https://ve.dolarapi.com/v1"

# Cotiza Ve
# More info https://cotizave.com/
COTIZAVE_API_URL="https://api.cotizave.com/v1/fx"
COTIZAVE_API_KEY=""

# Cron Generator
# More info https://crontab.cronhub.io/
EXCHANGE_CRON="0 1,6 * * *"